@* <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<title>@ViewData["Title"] - MVCBookingFinal_YARAB_</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/MVCBookingFinal_YARAB_.styles.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha384-MnU2zZmYVNNYHk6j0XOnzjL5cmz8jI6N+55e5y5Jf5xC0X6scmcfqre0fnj6Y67A" crossorigin="anonymous" referrerpolicy="no-referrer" />
<!-- Font Awesome CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/nouislider/distribute/nouislider.min.css">
<script src="https://cdn.jsdelivr.net/npm/nouislider/distribute/nouislider.min.js"></script> *@

@{
    Layout = "_NavFooter";

}


@* our new layout important files *@
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Source+Serif+Pro:wght@400;700&display=swap" rel="stylesheet">


<link rel="stylesheet" href="~/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/css/owl.theme.default.min.css">
<link rel="stylesheet" href="~/css/jquery.fancybox.min.css">
<link rel="stylesheet" href="~/fonts/icomoon/style.css">
<link rel="stylesheet" href="~/fonts/flaticon/font/flaticon.css">

<!-- Libraries Stylesheet -->
<link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

<link href="~/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

<link rel="stylesheet" href="~/css/daterangepicker.css">
<link rel="stylesheet" href="~/css/aos.css">
<link href="~/css/Home.css" rel="stylesheet">
<link href="~/css/site.css" rel="stylesheet">
<link href="~/css/trendingDestinations.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<script src="~/js/jquery-3.4.1.min.js"></script>
<script src="~/js/bootstrap.min.js"></script>




