@{
    ViewData["Title"] = "Select Payment Method";
}

<h1>Select Payment Method</h1>

<form method="post" asp-action="RedirectToPaymentMethods">
    <div>
        <label for="paymentType">Choose Payment Type:</label>
        <select id="paymentType" name="paymentType">
            @foreach (var paymentType in ViewBag.PaymentTypes)
            {
                <option value="@paymentType.Value">@paymentType.Text</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


