html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*Cards*/
.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
/*    flex-wrap:wrap;*/
}
.content .cardholder {
    border-radius: 6px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 3px;        
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
/*    align-items: center;*/
}

.content .cardholder .imageholder {  
    max-width: 70%;
/*    max-height:30%;*/
    margin-right: 20px;
}

    .content .cardholder .imageholder .image {
        max-width: 100%;
        max-height: 100%;
    }

.navbar {
    background-color: white;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;

}

.navbar .navbar-brand {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar-brand img {
    height: 50px; /* Adjust if needed */
    width: 50px; /* Adjust if needed */
    object-fit: cover;
}

.navbar-brand span {
    font-weight: bold;
    color: #1A374D; /* Your provided hex color */
}
#Users-types {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.inboxconfirmemail,
.inbox {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}


.inbox a {
    color: white;
    font-size: 16px;
}
.editprofile{
gap:20px;
flex-direction: column;
}
.upperform {
    display:flex;
    gap:25px;
}
.editaccount,
.createcity{
    margin: 0px auto 30px;
}
.forgetpassword {

    margin: 100px auto;

} 
.forgetpassword h1 {
    text-align: center;
}
.forgetpasswordform,
.editaccountform,
.loginform {
    margin: 0 auto;
}
    .loginform{
        margin-bottom:30px;
    }
    .googleicon {
        font-size: 18px;
    }

.Externallogincontainer {
    display:flex;
    gap:10px;
}
.linkcontainer {
    display:flex;
    justify-content:space-between;
}
.registerformcontainer{
    display:flex;
    gap:20px;

}
.malakregister{
    margin:0 auto;
}
.trendingcontainer {

    text-align:center;
}
.featuers {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f6f6f6;
}

    .featuers .container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
/*        gap: 10px;*/
    }

    .featuers .feat {
        padding: 10px;
        text-align: center;
        max-height:70%;

    }
    .featuers .feat img{
        max-width:100%;
        max-height:100%;
        border-radius:10px;
    }
.Trending {
    margin-top: 60px;
}
    .Trending h2,
    .Trending p {
        text-align: center;
    }
    .Trending container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px));
/*        gap: 20px;*/
    }
    .Trending .cardholder {
        display:flex;
        flex-direction:column;
        
/*        justify-content:space-around;*/
        gap:10px;
    }
        .Trending .cardholder .upper {
            display: flex;
/*            grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));*/
            gap:20px;
            padding:10px;
        }
            .Trending .cardholder .upper div{
                min-width:515px;

            }
            .Trending .cardholder .lower {
                display: flex;
            }    