@model MVCBookingFinal_YARAB_.ViewModels.RoomViewModel

@{
    ViewData["Title"] = "Edit";
    // Layout = "HotelRooms";
    List<RoomImage> TheImages = ViewBag.Images;

}
<div class="container mb-5">
<h1>Edit</h1>


<hr />
<div class=" form col-6 mx-auto">
    <div class="col-md-8">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <partial name="EditCreate"></partial>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <select asp-for="status" class="form-control" asp-items="@Html.GetEnumSelectList<RoomStatus>()"></select>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            @if (TheImages is not null)
            {
                @foreach (var image in TheImages)
                {
                    <img src="~/ProductsImages/@image.Image"
                         data-src="@Url.Content("~/ProductsImages/" + image.Image)"
                         class="img-thumbnail img-clickable"
                         data-bs-toggle="modal"
                         data-bs-target="#imageModal"
                         style="width: 50px; height: 50px; object-fit: cover; border-radius: 50%; cursor: pointer;" />
                }
            }
            <div class="form-group text-center mt-2">
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>


</div>

</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<partial name="_modalPartial"></partial>
